{% extends "base.html" %}

{% block title %}eEducate | Educator Login{% endblock %}

{% block content %}
<h1>eEducate</h1>
<div class="card sm-shadow">
    <div class="card-body">
        <h1 class="card-title h4">Educator Login</h1>
        <h6 class="card-subtitle mb-2 text-body-secondary">Please sign in</h6>
        <form name="educatorLogin" method="POST">
            <label for="username" class="form-label">Username</label>
            <input id="usernameEducator" class="form-control" placeholder="john.doe">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="passwordEducator" type="password" class="form-control">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}