{% extends "base.html" %}

{% block title %}eEducate{% endblock %}

{% block content %}
        <h1>eEducate</h1>
        <div class="card shadow-sm" style="width: 18rem;">
            <div class="card-body">
                <h1 class="h4 card-title">Choose Your Role</h1>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Are you a student or an educator?
                </h6>
                
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary" id="studentRoleSelect">Student</button>
                    <button class="btn btn-outline-secondary" id="educatorRoleSelect" onclick="window.location.href='{{ url_for(\'educator\') }}';">Educator</button>
                </div>
            </div>
        </div>
{% endblock %}